<!DOCTYPE html>
<html>
   <head>
      <style>
         p {
            color: red;
            text-align: center;
         }
      </style>
   </head>
   <body>
      <p>Hoc CSS co ban tai VietJack!</p>
   </body>
</html>